$color: #0078d4;
$color-text: #ffffff;
$color-main: #f4f4f4;
$font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

body {
  font-family: $font;
  margin: 0;
}

.head{
    background-color: $color;
    color: $color-text;
    padding: 20px;
    text-align: center;
}

.main{
    background-color: $color-main;
    color: #333;
    height: 300px;
    padding: 20px;
}
.foot{
    background-color: darken($color, 15%);
    color: $color-text;
    padding: 20px;
    text-align: center;
}